# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# Plan files
*.plan

# Variable definitions
*.tfvars
*.tfbackend
**/build
*tfstate*
**/node_modules
**/package-lock.json

# Lock file
.terraform.lock.hcl

# SSH keys
*.pem

# Swap files
*.sw?

.env
applications/**/Dockerrun.aws.json
stack/applications/**/Dockerrun.aws.json
batch
