environment         = "dev"
#zone_prefix         = ""
hosted_zone_name    = "mydomain.org"
# At least one of 'ec2_keyname' or 'ec2_public_key', or 'ec2_users' must be set
# for you to have access to your EC2 instance.
#ec2_keyname         = "my-ec2-key"
#ec2_public_key      = ""
#ec2_users = [
#    user = {
#        ssh_keys = [
#            "ssh-ed25519 ..."
#        ]
#    }
#    another = {
#        gecos = "Another User"
#        ssh_keys = [
#            "ssh-rsa ..."
#        ]
#        setup_commands = [
#            "echo 'set editing-mode vi' | install -m 0644 -o another -g another /dev/stdin ~another/.inputrc"
#        ]
#    }
#]
stack_name          = "mystack"
ssh_cidr_blocks     = []
# If the user below is empty, Terraform will attempt to
# create it and the required access/secret automatically.
#fcrepo_binary_bucket_username   = "iam_user"
#fcrepo_binary_bucket_access_key = "***********"
#fcrepo_binary_bucket_secret_key = "***********"
fcrepo_binary_bucket_username   = "iam_user"
fcrepo_binary_bucket_access_key = "***********"
fcrepo_binary_bucket_secret_key = "***********"
# You can use an alternate hostname for the main web interface rather
# than the default of {zone_prefix}{environment}.{hosted_zone_name}
# To do so, you must delegate the domain where the hostname will reside
# to AWS Route53 and specify the zone_id and hostname like below.
#alt_hostname        = {
#                      "my-label" = {
#                        zone_id = "Z0123456789ABCDEFGHI"
#                        hostname = "my-alt.domain.org"
#                      }
#                    }
tags = {
  Creator    = "Username"
  For        = "Avalon Turnkey"
}
